# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
	user = jebovic
	email = jba@amiralweb.com
	excludesfile = ~/.gitignore_global
[user]
	name = Jérémy Baumgarth
	email = jba@amiralweb.com
#[url "https://"]
#	insteadOf = git://
[color]
	ui = auto
